
    <h1>Add new Reservations</h1>
    <div class="hi">
        <form action="/new-reservation" method="POST">
            <span>Id</span>
            <input type="text" name="id" placeholder="Id" />
            <span>customerId</span>
            <input type="text" name="customerId" placeholder="customerId" />
            <span>roomId</span>
            <input type="text" name="roomId" placeholder="roomId " />
            <span>checkInDate</span>
            <input type="date" name="checkInDate" placeholder="checkInDate" />
            <span>checkOutDate</span>
            <input type="date" name="checkOutDate" placeholder="checkOutDate" />
            <span>roomPrice</span>
            <input type="text" name="roomPrice" placeholder="roomPrice" />
            <span>note</span>
            <input type="text" name="note" placeholder="note" />
            <input type="submit" name="Submit" value="send" />
        </form>



