<div class="container">
    <h1>Add Reservations</h1>
    <form action="/new-reservation" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Id</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="id">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">customerId</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="custId">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">roomId</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="roomId">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">checkInDate</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="checkInDate">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">checkOutDate</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="checkOutDate">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">roomPrice</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="roomPrice">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">note</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="note">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
</div>